.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/misc.xml
phoneProfilesPlusExtender/build
/phoneProfilesPlusExtender/fabric.properties
/phoneProfilesPlusExtender/google-services.json
