<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <permission
        android:name="sk.henrichg.phoneprofilesplusextender.ACCESSIBILITY_SERVICE_PERMISSION"
        android:label="@string/extender_accessibility_service_permission"
        android:protectionLevel="signature"/>

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="sk.henrichg.phoneprofilesplusextender.ACCESSIBILITY_SERVICE_PERMISSION"/>

    <!--    hard restricted-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--    hard restricted-->
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- required for answer call to get phone number -->
    <!--    hard restricted-->
    <!--    not allowed for compile sdk > 28  :-( -->
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!--    hard restricted-->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>

    <!-- ACRA fix of MailSenderConfigurationBuilder for Android 11-->
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="message/rfc822" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>

    <application
        android:name=".PPPEApplication"
        android:label="@string/extender_app_name"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="GoogleAppIndexingWarning">
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->

        <!-- support for 18.5:9 display (Samsung Galaxy S8, LG G6) -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

<!--        <meta-data-->
<!--            android:name="firebase_crashlytics_collection_enabled"-->
<!--            android:value="true" />-->

<!-- https://developer.android.com/about/versions/13/features/app-languages
     requires appcompat 1.6.0+ -->
<!--        <service-->
<!--            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="autoStoreLocales"-->
<!--                android:value="true" />-->
<!--        </service>-->

        <activity android:name=".MainActivity"
            android:label="@string/extender_app_name"
            tools:ignore="IntentFilterExportedReceiver,RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ForceStopActivity"
                  android:excludeFromRecents="true"
                  android:label="@string/empty_string"
                  android:theme="@style/EmptyAppCompatActivity" >
        </activity>
        <activity
            android:name=".LogCrashActivity"
            android:label="@string/empty_string">
        </activity>

        <service
            android:name=".PPPEAccessibilityService"
            android:label="@string/extender_accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>
        <service
            android:name=".ForceCloseIntentService"
            android:exported="false"/>

    </application>

</manifest>